@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Sacramento&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --mainFont: "Caveat", cursive;
    --subFont: "Inter", sans-serif;
    --mainColor: #680c0c;
  }
  body{
    background-color: rgb(255, 239, 213);
    font-family: var(--mainFont);
    color: var(--mainColor);
  }
  a{
    text-decoration: none;
    color: rgb(4, 4, 94);
    font-weight: bold;
  }
  .container {
    width: calc(100% - 120px);
    margin: auto;
  }
  @media (max-width:992px){
    .container{
      width: 85%;
    }
  }
  @media (max-width:756px){
    .container{
      width: 90%;
    }
  }
  @media (max-width:450px){
    .container{
    width: 95%;
    }
  }
